<!DOCTYPE html>
<html>
<head>
  <title>RefererTracking</title>
  <%= stylesheet_link_tag    "referer_tracking/application" %>
  <%= javascript_include_tag "referer_tracking/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
